body {
    background-color: #2e2e2e;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.canvas {
    background-color: black;

    
    /* color: green; */
}

.some-text {
    display: none;

    position: absolute;
    top: 120px;
    left: 58px;

    color: rgb(96, 166, 106);
    font-size: 50px;
}